<!doctype html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Title</title>
</head>
<body>
<form method="post" action="doLogin">
    <label th:text="${kullaniciAdi}"></label>
    <input name="txtKullaniciAdi"><br>

    <label th:text="${psw}"></label>
    <input name="txtSifre"><br>

    <button type="submit">Giriş</button>
</form>

<br><br><br>
 <h1>Register Sayfası</h1>
<h2 th:text="${img}"></h2>
<h2 th:text="${email}"></h2>
</body>
</html>