.quiz{
    border: 0.5px solid gray;
    border-radius: 50px;
    margin-top: 80px;
    margin-bottom: 20px;
    width: 50vw;
    padding: 20px;
}

h1 {
    font-size: 60px;
    color: #E75050;
    font-weight: 700;
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.row input{
    height: 18px;
}
